.hljs {
    background: transparent !important;
    padding: 0 !important;
}

code.elm {
    margin-left: 2%;
    margin-right: 2%;
}

.declaration {
    font-family: monospace;
    white-space: pre-wrap;
}
